:root {
    --blue: #63CAC3;
    --lightBlue: #A7D7D4;
    --yellow: #E1DE3D;
    --green: #9DD572;
    --orange: #EBB537;
    --marine: #6CA1C6;
}

* {
    box-sizing: border-box;
    margin: 0; padding: 0;
}

html, body {
    height: 100%;
    width: 100%;
}

@font-face { font-family: Bungee; src: url("fonts/Bungee-Regular.ttf"); }

h1 { font-family: Bungee; font-size: 40px; color: black; text-align: left; }

#content {
    height: 100%; width: 100%;
    background-color: var(--blue);
    background-image: linear-gradient(45deg, var(--blue), var(--yellow));
    overflow: hidden;
    text-align: center;
    
    display: flex;
    flex-direction: column;
    align-items: center;
    
    padding: 40px;
}

#ss-container {
    display: flex;
    flex-direction: row;
    gap: 40px;
    align-items: top;
    justify-content: center;
    
    max-width: 1000px;
    margin: auto;
    padding: 0 40px;
}
.ss {
    width: 33%;
    object-fit: cover;
    object-position: top;
}

@media only screen and (max-width: 700px) {
    h1 { font-size: 30px; }
    
    #content {
        overflow: scroll;
    }
    
    #ss-container {
        flex-direction: column;
        align-items: center;
    }
    .ss {
        width: 80%;
    }
}
